<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/basic.css">
</head>
<body>
  <h3>新增用户</h3>
  <form action="/doAdd" method="post">
    <label class="style_label">用户名：</label><input type="text" name="name" />
    <br><br>
    <label class="style_label">年龄：</label><input type="text" name="age" />
    <br><br>
    <label class="style_label">性别：</label><input type="text" name="six" />
    <br><br>
    <label class="style_label"></label><input type="submit" value="新增用户" class="add_btn"/>
  </form>
</body>
</html>